<!doctype html>
<html>
    <head>
        <title>Meadowlark Travel</title>
    </head>
    <body>
        <header>
            <img src="/img/logo.jpg" alt="Looks like a seal">
        </header>
        {{{body}}}
    </body>
</html>